@import url('https://fonts.googleapis.com/css2?family=Abel&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#progress {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100vw;
	height: .5vh;
	transform-origin: 0 50%;
	transform: scaleX(0);
}
#progress {
	transform: scaleX(0);
}
html,body {
    font-family: "Rubik" , sans-serif ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}
.join-us{
    font-size: 14px;
}
/* Slide*/
.swiper {
width: 100%;
height: 100vh;
}
.swiper .one{
    background-image: url(/img/pexels-yan-krukov-8866748.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 2;
}
.swiper .two{
    background-image: url(/img/pexels-yan-krukov-8867262.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 2;
}
.swiper-slide {
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-slide::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;    
}
.swiper-button-next::after
{
    color: #4588c8;
}
.swiper-button-prev::after{
    color: #4588c8;
}
/* End slide */ 

/* hero section */
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .container-hero{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    height: 80%;
    width: 65%;  
    justify-content: center;
    
}
.hero .container-text{
    width: 100%;
    text-align: center;
}
.hero .container-text p{
    margin-bottom: 40px;
    letter-spacing: .2rem;
    color: aliceblue;
}
.hero .hero-text{
    width: 100%;
}
.hero .call360{
    width: 100%;
    font-weight: 500;
    letter-spacing: 8px;
    text-align: center;
    line-height: 80px;
}
.hero h1{
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s; 
    text-align: center;
    font-weight: 500;
}

.hero h1:nth-child(1){  
    animation-delay: 1s;
}
.hero h1:nth-child(2){  
    animation: text_reveal2 .5s ease forwards;
    animation-delay:2s;
}
.hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:0%;
    background-color: #4588c8;
    animation: text_reveal_box 1s ease;
    animation-delay:.5s ;
}
.hero h1:nth-child(1) span{
    animation-delay: .5s;
}
.hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
.hero .hero-text p{
    color: aliceblue;    
    letter-spacing: .2rem ;
    padding-top: 20px;
    width: 100%px;
    
}
.hero .getmore{
    padding-top: 40px;
}
.hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color:white;
    border: 2px solid #4588c8;
    border-radius: 9px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem ;
    margin-top: 36px;
    transition: .3s ease;
    font-weight: 500;
    transition-property: background-color, color ;
}
.hero .cta:hover{
    color:#4588c8;
    background-color: white;
}
.blob{
    position:absolute;
    top: 14%;
    left: 0%;
    z-index: -1;
    opacity:70%;
    width: 650px;
}
/* end hero section */ 

/* Section 2 / Who we are  */
#who-we-are{
    align-items: center;
    display: flex;
    height: 350px;
}
#who-we-are .container{
    height: 100%;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #4588c8;
}
#who-we-are .section-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#who-we-are .text{
    width: 40%;
    text-align: right;
    font-family: 'Libre Franklin', sans-serif;
}
#who-we-are .text .who h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #4588c8;
}
#who-we-are .text .who h1:nth-child(1){
    color: transparent;
    display: none;
}
#who-we-are .paragraphe{
    width: 55%;
    text-align: justify;
}
#who-we-are .learn-more .cta{
    display: inline-block;
    padding:8px 22px;
    border: 2px solid #4588c8;
    border-radius: 9px;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .1rem ;
    margin-top: 36px;
    transition: .3s ease;
    font-weight: 500;
    transition-property: background-color, color ;
    margin-top: 20px;
}
#who-we-are .learn-more .cta:hover{
    color:#ffffff;
    background-color: #4588c8;
}
/* end section 2 */ 

/* section 3 /Tnternational presence */

#presence .container{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#presence .section3-content{
    text-align: center;
}
#presence .section3-content h1{
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
}#presence .section3-content p{
    width: 80%;
    display: inline-block;
    margin-bottom: 30px;
}
#presence .parent-img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#presence .section3-content img{
    height: 350px;
    width: 90%;
}
#presence .learn-more .cta{
    display: inline-block;
    padding:8px 22px;
    color:#4588c8;
    border: 2px solid #4588c8;
    border-radius: 9px;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .1rem ;
    margin-top: 36px;
    transition: .3s ease;
    font-weight: 500;
    transition-property: background-color, color ;
    margin-top: 20px;
}
#presence .learn-more .cta:hover{
    color:#ffffff;
    background-color: #4588c8;
}
/* end section 3  */


/* section 4 / Testimonials */
.testimonials {
    height: 600px;
    display: flex;
    align-items: center;
}
.testimonials .testimonial-text{
    width: 100%;
    text-align: center;
}
.testimonials .testimonial-text h1{
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.testimonials .testimonial-text p{
    width: 80%;
    display: inline-block;
    margin-bottom: 30px;
    color: white;
}
.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 9px;
    text-align: center;
    border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: .8rem;
    line-height: 1.5;
    margin: 0 0 15px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #4588c8;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    margin-bottom:40px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #ffffff;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
    border-radius: 50%;
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #ffffff;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
    border-radius: 50%;
}
/* end section 4 */



/* section test */


.ag-format-container {
    width: 100%;
    border-bottom: 1px solid #4588c8;
}

.slick-slide {
    top: 0 !important;
    left: 0 !important;
    position: absolute !important;
}
.ag-slider-rotate
{
height: 100%;
overflow-x: hidden;
}
.ag-values_title {
padding: 70px 0 40px ;
text-align: center;
font-family: 'Libre Franklin', sans-serif;
letter-spacing: 3px;
}
.ag-values_list {
width: 500px;
position: relative;
}
.ag-values_item {
    padding: 100px 0 0;
}
.ag-values_title-item {
display: table;
margin: 0 0 30px;
padding: 0 0 10px;
font-weight: bold;
font-size: 30px;
color: #2d2926;
position: relative;
font-family: 'Libre Franklin', sans-serif;
}
.ag-values_title-item:after {
content: "";
height: 4px;
width: 100%;
background-color: #4588c8;
position: absolute;
left: 0;
right: 0;
bottom: 0;
}
.ag-values_text-item {
line-height: 1.3;
width: 400px;
font-size: 16px;
color: #2d2926;
font-family: 'Libre Franklin', sans-serif;
}
.ag-values-controller-block {
min-height: 550px;
position: relative;
}

.ag-values-controller_item {
display: block;
width: 146px;
border-radius: 50%;
opacity: 1;
transition: opacity .3s, -webkit-transform 1s;
transition: opacity .3s, transform 1s;
transition: opacity .3s, transform 1s, -webkit-transform 1s;
}

.ag-values-controller_item:hover {
opacity: .7;
}

.ag-values-controller_item.js-ag-active {
opacity: .7;
cursor: default;
}

.ag-values-controller_item__main {
width: 160px;
height: 160px;
margin: 0;
cursor: default;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.ag-values-controller_item__main:hover {
opacity: 1;
}
.ag-values-controller_img-box {
    display: block;
    text-align: center;
}
.ag-values-controller-block  .image{
    position: absolute;
    border: 4px solid #4588c8;
    border-radius: 50%;
    padding: 45px;
}
.ag-values-controller_img {
max-width: 100%;
border-radius: 50%;
}

@media only screen and (max-width: 979px) {
.ag-values_list {
width: auto;
}
.ag-values_item {
padding: 20% 0 0;
}

.ag-values-controller-block {
min-height: 50px;

z-index: 1001;
}
.ag-values-controller_list {
text-align: center;
}
.ag-values-controller_item {
display: inline-block;
width: 15%;
}
.ag-values-controller_item__main {
display: none;
}
}

@media only screen and (max-width: 767px) {
.ag-format-container {
width: 96%;
}

}

@media only screen and (max-width: 639px) {
.ag-values_item {
padding: 50% 0 0;
}

.ag-values-controller_item {
width: 20%;
margin: 0 3% 3%;
}
}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
.ag-format-container {
width: 750px;
}

}

@media (min-width: 980px) and (max-width: 1161px) {
.ag-format-container {
width: 960px;
}

.ag-values_list {
float: left;
width: 450px;
}
}

@media only screen and (min-width: 980px) {
.js-ag-values-controller_list-0 {
position: absolute;
top: 73px;
right: 49px;
width: 348px;
height: 348px;
padding: 0;
border-radius: 50%;
list-style: none;
box-sizing: content-box;
}
.js-ag-values-controller_list-0 > :not(.ag-values-controller_item__main) {
display: block;
position: absolute;
top: 50%;
left: 50%;
width: 146px;
height: 146px;
margin: -73px;
}
.js-ag-values-controller_list-0 > :first-of-type {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
}
.js-ag-values-controller_list-0 > :first-of-type.js-ag-active {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
}
.js-ag-values-controller_list-0 > :nth-of-type(2) {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
}
.js-ag-values-controller_list-0 > :nth-of-type(2).js-ag-active {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
}
.js-ag-values-controller_list-0 > :nth-of-type(3) {
-webkit-transform: rotate(30deg) translate(174px) rotate(-30deg) scale(.8);
transform: rotate(30deg) translate(174px) rotate(-30deg) scale(.8);
}
.js-ag-values-controller_list-0 > :nth-of-type(3).js-ag-active {
-webkit-transform: rotate(30deg) translate(174px) rotate(-30deg) scale(1);
transform: rotate(30deg) translate(174px) rotate(-30deg) scale(1);
}
.js-ag-values-controller_list-0 > :nth-of-type(4) {
-webkit-transform: rotate(90deg) translate(174px) rotate(-90deg) scale(.8);
transform: rotate(90deg) translate(174px) rotate(-90deg) scale(.8);
}
.js-ag-values-controller_list-0 > :nth-of-type(4).js-ag-active {
-webkit-transform: rotate(90deg) translate(174px) rotate(-90deg) scale(1);
transform: rotate(90deg) translate(174px) rotate(-90deg) scale(1);
}
.js-ag-values-controller_list-0 > :nth-of-type(5) {
-webkit-transform: rotate(150deg) translate(174px) rotate(-150deg) scale(.8);
transform: rotate(150deg) translate(174px) rotate(-150deg) scale(.8);
}
.js-ag-values-controller_list-0 > :nth-of-type(5).js-ag-active {
-webkit-transform: rotate(150deg) translate(174px) rotate(-150deg) scale(1);
transform: rotate(150deg) translate(174px) rotate(-150deg) scale(1);
}
.js-ag-values-controller_list-0 > :nth-of-type(6) {
-webkit-transform: rotate(210deg) translate(174px) rotate(-210deg) scale(.8);
transform: rotate(210deg) translate(174px) rotate(-210deg) scale(.8);
}
.js-ag-values-controller_list-0 > :nth-of-type(6).js-ag-active {
-webkit-transform: rotate(210deg) translate(174px) rotate(-210deg) scale(1);
transform: rotate(210deg) translate(174px) rotate(-210deg) scale(1);
}

.js-ag-values-controller_list-1 {
position: absolute;
top: 73px;
right: 49px;
width: 348px;
height: 348px;
padding: 0;
border-radius: 50%;
list-style: none;
box-sizing: content-box;
}
.js-ag-values-controller_list-1 > :not(.ag-values-controller_item__main) {
display: block;
position: absolute;
top: 50%;
left: 50%;
width: 146px;
height: 146px;
margin: -73px;
}
.js-ag-values-controller_list-1 > :first-of-type {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
}
.js-ag-values-controller_list-1 > :first-of-type.js-ag-active {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
}
.js-ag-values-controller_list-1 > :nth-of-type(2) {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
}
.js-ag-values-controller_list-1 > :nth-of-type(2).js-ag-active {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
}
.js-ag-values-controller_list-1 > :nth-of-type(3) {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
}
.js-ag-values-controller_list-1 > :nth-of-type(3).js-ag-active {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
}
.js-ag-values-controller_list-1 > :nth-of-type(4) {
-webkit-transform: rotate(30deg) translate(174px) rotate(-30deg) scale(.8);
transform: rotate(30deg) translate(174px) rotate(-30deg) scale(.8);
}
.js-ag-values-controller_list-1 > :nth-of-type(4).js-ag-active {
-webkit-transform: rotate(30deg) translate(174px) rotate(-30deg) scale(1);
transform: rotate(30deg) translate(174px) rotate(-30deg) scale(1);
}
.js-ag-values-controller_list-1 > :nth-of-type(5) {
-webkit-transform: rotate(90deg) translate(174px) rotate(-90deg) scale(.8);
transform: rotate(90deg) translate(174px) rotate(-90deg) scale(.8);
}
.js-ag-values-controller_list-1 > :nth-of-type(5).js-ag-active {
-webkit-transform: rotate(90deg) translate(174px) rotate(-90deg) scale(1);
transform: rotate(90deg) translate(174px) rotate(-90deg) scale(1);
}
.js-ag-values-controller_list-1 > :nth-of-type(6) {
-webkit-transform: rotate(150deg) translate(174px) rotate(-150deg) scale(.8);
transform: rotate(150deg) translate(174px) rotate(-150deg) scale(.8);
}
.js-ag-values-controller_list-1 > :nth-of-type(6).js-ag-active {
-webkit-transform: rotate(150deg) translate(174px) rotate(-150deg) scale(1);
transform: rotate(150deg) translate(174px) rotate(-150deg) scale(1);
}

.js-ag-values-controller_list-2 {
position: absolute;
top: 73px;
right: 49px;
width: 348px;
height: 348px;
padding: 0;
border-radius: 50%;
list-style: none;
box-sizing: content-box;
}
.js-ag-values-controller_list-2 > :not(.ag-values-controller_item__main) {
display: block;
position: absolute;
top: 50%;
left: 50%;
width: 146px;
height: 146px;
margin: -73px;
}
.js-ag-values-controller_list-2 > :first-of-type {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
}
.js-ag-values-controller_list-2 > :first-of-type.js-ag-active {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
}
.js-ag-values-controller_list-2 > :nth-of-type(2) {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
}
.js-ag-values-controller_list-2 > :nth-of-type(2).js-ag-active {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
}
.js-ag-values-controller_list-2 > :nth-of-type(3) {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
}
.js-ag-values-controller_list-2 > :nth-of-type(3).js-ag-active {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
}
.js-ag-values-controller_list-2 > :nth-of-type(4) {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
}
.js-ag-values-controller_list-2 > :nth-of-type(4).js-ag-active {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
}
.js-ag-values-controller_list-2 > :nth-of-type(5) {
-webkit-transform: rotate(30deg) translate(174px) rotate(-30deg) scale(.8);
transform: rotate(30deg) translate(174px) rotate(-30deg) scale(.8);
}
.js-ag-values-controller_list-2 > :nth-of-type(5).js-ag-active {
-webkit-transform: rotate(30deg) translate(174px) rotate(-30deg) scale(1);
transform: rotate(30deg) translate(174px) rotate(-30deg) scale(1);
}
.js-ag-values-controller_list-2 > :nth-of-type(6) {
-webkit-transform: rotate(90deg) translate(174px) rotate(-90deg) scale(.8);
transform: rotate(90deg) translate(174px) rotate(-90deg) scale(.8);
}
.js-ag-values-controller_list-2 > :nth-of-type(6).js-ag-active {
-webkit-transform: rotate(90deg) translate(174px) rotate(-90deg) scale(1);
transform: rotate(90deg) translate(174px) rotate(-90deg) scale(1);
}

.js-ag-values-controller_list-3 {
position: absolute;
top: 73px;
right: 49px;
width: 348px;
height: 348px;
padding: 0;
border-radius: 50%;
list-style: none;
box-sizing: content-box;
}
.js-ag-values-controller_list-3 > :not(.ag-values-controller_item__main) {
display: block;
position: absolute;
top: 50%;
left: 50%;
width: 146px;
height: 146px;
margin: -73px;
}
.js-ag-values-controller_list-3 > :first-of-type {
-webkit-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
}
.js-ag-values-controller_list-3 > :first-of-type.js-ag-active {
-webkit-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
}
.js-ag-values-controller_list-3 > :nth-of-type(2) {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
}
.js-ag-values-controller_list-3 > :nth-of-type(2).js-ag-active {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
}
.js-ag-values-controller_list-3 > :nth-of-type(3) {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
}
.js-ag-values-controller_list-3 > :nth-of-type(3).js-ag-active {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
}
.js-ag-values-controller_list-3 > :nth-of-type(4) {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
}
.js-ag-values-controller_list-3 > :nth-of-type(4).js-ag-active {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
}
.js-ag-values-controller_list-3 > :nth-of-type(5) {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
}
.js-ag-values-controller_list-3 > :nth-of-type(5).js-ag-active {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
}
.js-ag-values-controller_list-3 > :nth-of-type(6) {
-webkit-transform: rotate(30deg) translate(174px) rotate(-30deg) scale(.8);
transform: rotate(30deg) translate(174px) rotate(-30deg) scale(.8);
}
.js-ag-values-controller_list-3 > :nth-of-type(6).js-ag-active {
-webkit-transform: rotate(30deg) translate(174px) rotate(-30deg) scale(1);
transform: rotate(30deg) translate(174px) rotate(-30deg) scale(1);
}

.js-ag-values-controller_list-4 {
position: absolute;
top: 73px;
right: 49px;
width: 348px;
height: 348px;
padding: 0;
border-radius: 50%;
list-style: none;
box-sizing: content-box;
}
.js-ag-values-controller_list-4 > :not(.ag-values-controller_item__main) {
display: block;
position: absolute;
top: 50%;
left: 50%;
width: 146px;
height: 146px;
margin: -73px;
}
.js-ag-values-controller_list-4 > :first-of-type {
-webkit-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
-moz-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
-ms-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
-o-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
}
.js-ag-values-controller_list-4 > :first-of-type.js-ag-active {
-webkit-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
-moz-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
-ms-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
-o-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
}
.js-ag-values-controller_list-4 > :nth-of-type(2) {
-webkit-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
-moz-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
-ms-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
-o-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
}
.js-ag-values-controller_list-4 > :nth-of-type(2).js-ag-active {
-webkit-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
-moz-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
-ms-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
-o-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
}
.js-ag-values-controller_list-4 > :nth-of-type(3) {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
-moz-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
-ms-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
-o-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
}
.js-ag-values-controller_list-4 > :nth-of-type(3).js-ag-active {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
-moz-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
-ms-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
-o-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
}
.js-ag-values-controller_list-4 > :nth-of-type(4) {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
-moz-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
-ms-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
-o-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
}
.js-ag-values-controller_list-4 > :nth-of-type(4).js-ag-active {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
-moz-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
-ms-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
-o-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
}
.js-ag-values-controller_list-4 > :nth-of-type(5) {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
-moz-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
-ms-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
-o-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
}
.js-ag-values-controller_list-4 > :nth-of-type(5).js-ag-active {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
-moz-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
-ms-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
-o-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
}
.js-ag-values-controller_list-4 > :nth-of-type(6) {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
-moz-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
-ms-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
-o-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(.8);
}
.js-ag-values-controller_list-4 > :nth-of-type(6).js-ag-active {
-webkit-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
-moz-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
-ms-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
-o-transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
transform: rotate(-30deg) translate(174px) rotate(30deg) scale(1);
}

.js-ag-values-controller_list-5 {
position: absolute;
top: 73px;
right: 49px;
width: 348px;
height: 348px;
padding: 0;
border-radius: 50%;
list-style: none;
box-sizing: content-box;
}
.js-ag-values-controller_list-5 > :not(.ag-values-controller_item__main) {
display: block;
position: absolute;
top: 50%;
left: 50%;
width: 146px;
height: 146px;
margin: -73px;
}
.js-ag-values-controller_list-5 > :first-of-type {
-webkit-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
-moz-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
-ms-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
-o-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
}
.js-ag-values-controller_list-5 > :first-of-type.js-ag-active {
-webkit-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
-moz-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
-ms-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
-o-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
}
.js-ag-values-controller_list-5 > :nth-of-type(2) {
-webkit-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
-moz-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
-ms-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
-o-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
}
.js-ag-values-controller_list-5 > :nth-of-type(2).js-ag-active {
-webkit-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
-moz-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
-ms-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
-o-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
}
.js-ag-values-controller_list-5 > :nth-of-type(3) {
-webkit-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
-moz-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
-ms-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
-o-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
}
.js-ag-values-controller_list-5 > :nth-of-type(3).js-ag-active {
-webkit-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
-moz-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
-ms-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
-o-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
}
.js-ag-values-controller_list-5 > :nth-of-type(4) {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
-moz-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
-ms-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
-o-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
}
.js-ag-values-controller_list-5 > :nth-of-type(4).js-ag-active {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
-moz-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
-ms-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
-o-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
}
.js-ag-values-controller_list-5 > :nth-of-type(5) {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
-moz-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
-ms-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
-o-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
}
.js-ag-values-controller_list-5 > :nth-of-type(5).js-ag-active {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
-moz-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
-ms-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
-o-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
}
.js-ag-values-controller_list-5 > :nth-of-type(6) {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
-moz-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
-ms-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
-o-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(.8);
}
.js-ag-values-controller_list-5 > :nth-of-type(6).js-ag-active {
-webkit-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
-moz-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
-ms-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
-o-transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
transform: rotate(-90deg) translate(174px) rotate(90deg) scale(1);
}

.js-ag-values-controller_list-6 {
position: absolute;
top: 73px;
right: 49px;
width: 348px;
height: 348px;
padding: 0;
border-radius: 50%;
list-style: none;
box-sizing: content-box;
}
.js-ag-values-controller_list-6 > :not(.ag-values-controller_item__main) {
display: block;
position: absolute;
top: 50%;
left: 50%;
width: 146px;
height: 146px;
margin: -73px;
}
.js-ag-values-controller_list-6 > :first-of-type {
-webkit-transform: rotate(-450deg) translate(174px) rotate(450deg) scale(.8);
-moz-transform: rotate(-450deg) translate(174px) rotate(450deg) scale(.8);
-ms-transform: rotate(-450deg) translate(174px) rotate(450deg) scale(.8);
-o-transform: rotate(-450deg) translate(174px) rotate(450deg) scale(.8);
transform: rotate(-450deg) translate(174px) rotate(450deg) scale(.8);
}
.js-ag-values-controller_list-6 > :first-of-type.js-ag-active {
-webkit-transform: rotate(-450deg) translate(174px) rotate(450deg) scale(1);
-moz-transform: rotate(-450deg) translate(174px) rotate(450deg) scale(1);
-ms-transform: rotate(-450deg) translate(174px) rotate(450deg) scale(1);
-o-transform: rotate(-450deg) translate(174px) rotate(450deg) scale(1);
transform: rotate(-450deg) translate(174px) rotate(450deg) scale(1);
}
.js-ag-values-controller_list-6 > :nth-of-type(2) {
-webkit-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
-moz-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
-ms-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
-o-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
transform: rotate(-390deg) translate(174px) rotate(390deg) scale(.8);
}
.js-ag-values-controller_list-6 > :nth-of-type(2).js-ag-active {
-webkit-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
-moz-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
-ms-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
-o-transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
transform: rotate(-390deg) translate(174px) rotate(390deg) scale(1);
}
.js-ag-values-controller_list-6 > :nth-of-type(3) {
-webkit-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
-moz-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
-ms-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
-o-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
transform: rotate(-330deg) translate(174px) rotate(330deg) scale(.8);
}
.js-ag-values-controller_list-6 > :nth-of-type(3).js-ag-active {
-webkit-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
-moz-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
-ms-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
-o-transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
transform: rotate(-330deg) translate(174px) rotate(330deg) scale(1);
}
.js-ag-values-controller_list-6 > :nth-of-type(4) {
-webkit-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
-moz-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
-ms-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
-o-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
transform: rotate(-270deg) translate(174px) rotate(270deg) scale(.8);
}
.js-ag-values-controller_list-6 > :nth-of-type(4).js-ag-active {
-webkit-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
-moz-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
-ms-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
-o-transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
transform: rotate(-270deg) translate(174px) rotate(270deg) scale(1);
}
.js-ag-values-controller_list-6 > :nth-of-type(5) {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
-moz-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
-ms-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
-o-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(.8);
}
.js-ag-values-controller_list-6 > :nth-of-type(5).js-ag-active {
-webkit-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
-moz-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
-ms-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
-o-transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
transform: rotate(-210deg) translate(174px) rotate(210deg) scale(1);
}
.js-ag-values-controller_list-6 > :nth-of-type(6) {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
-moz-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
-ms-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
-o-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(.8);
}
.js-ag-values-controller_list-6 > :nth-of-type(6).js-ag-active {
-webkit-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
-moz-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
-ms-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
-o-transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
transform: rotate(-150deg) translate(174px) rotate(150deg) scale(1);
}
}




/* section 6 / Informations */

#informations{
    display: flex;
    align-items: center;
    text-align: center;
}
#informations .container{
    display: flex;
    align-items: center;
}
#informations .container h1{
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#informations .informations-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    text-align: left;
}
#informations .information-div{
    width: 31%;
    height: 300px;
    padding: 100px 40px;
    position: relative;
    color:#212154 ;
    border-radius: 5px;
}
#informations .information-div::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(45deg, #4588c8, #212154);
}
#informations .information-div i{
    font-size: 30px;
    position: absolute;
    top: 30px;
    right:30px;
}
#informations .information-div h3{
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Libre Franklin', sans-serif;
}


/* end section test  */

.footer{
    font-family: 'Libre Franklin', sans-serif;
}

.back-to-top .icon {
    transform: rotate(-45deg);
}
.back-to-top {
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}


/* FOLLOW US -SOCIAL MEDIA */

.icons{
    top: 50%;
    left: 0;
    transition: all 1s;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}  
.hide {
    opacity:0;
    left:-100%;
}
.show {
    opacity:1;
    left:0;
}
.icons a{
    display: block;
    text-align: center;
    padding: 11px;
    color: #ECECEC;
    font-size: 17px;
}
.icons a:hover{
    opacity: .9;
}

.facebook{
    background-color: #3a559f;
}
.instagram{
    background-image: linear-gradient(to bottom right, #723bb8, #f36841);
}
.linkedin{
    background-color: #0a63bc;
}



/* Preloader */


/* keyframs */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }  
}
@keyframes text_reveal2{
    100%{
        color: #4588c8;
    }
}

/* end keyframs */

/* media */
@media (max-width:1024px){
    .top-navbar{
        dispaly: inline-flex !important;
    }
    .join-us{
        padding-bottom: 8px;
    } 
}
/* end media */ 

